DatabaseProject/IlcdDataLoader/IlcdDataLoader/unitgroupMap.xml

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sql="urn:schemas-microsoft-com:mapping-schema" xmlns:common="http://lca.jrc.it/ILCD/Common" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="C:/ILCD_Data/schemas/ILCD_UnitGroupDataSet.xsd">
  <xsd:annotation>
    <xsd:appinfo>
      <sql:relationship name="UnitConversion_UnitGroup" parent="UnitGroup" parent-key="UnitGroupUUID" child="UnitConversion" child-key="UnitGroupUUID" />
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="unitGroupDataSet" type="UnitGroupDataSetType" sql:relation="UnitGroup">
    <xsd:element name="unitGroupInformation" type="UnitGroupInformationType">
      <xsd:element name="dataSetInformation" type="DataSetInformationType">
        <xsd:sequence>
          <xsd:element ref="common:UUID" sql:field="UnitGroupUUID" />
          <xsd:element ref="common:name" sql:field="Name" />
        </xsd:sequence>
      </xsd:element>
    </xsd:element>
    <xsd:element name="units" type="UnitsType">
      <xsd:element name="unit" type="UnitType" sql:relation="UnitConversion" sql:relationship="UnitConversion_UnitGroup">
        <xsd:sequence>
          <xsd:element name="name" type="xsd:string" sql:field="Unit" />
          <xsd:element name="meanValue" type="xsd:double" sql:field="Conversion" />
        </xsd:sequence>
      </xsd:element>
    </xsd:element>
  </xsd:element>
</xsd:schema>